* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
}

.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.board {
  min-width: 300px;
  min-height: 400px;
  border: 5px solid black;
  padding: 20px 10px;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board__title {
  font-size: 18px;
  font-weight: 700;
}

.form__add__task {
  display: flex;
  gap: 16px;
}

.all__boards {
  display: flex;
  gap: 16px;
}

.change__type {
  border-radius: 8px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.write__task {
  border-radius: 8px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}

.NavBar {
  width: 100%;
  height: 85px;
  background-color: black;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
